
      body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: Arial, sans-serif;
      }
      
      .container {
        width: 1080px;
        height: 1920px;
        display: flex;
        flex-direction: column;
      }
      
      .section {
        width: 1080px;
      }
      
      .section1 {
        height: 149px;
        background-color: #125520;
      }
      
      .section2 {
        height: 1645px;
        position: relative;
      }
      
      .section2 .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      
      .section2 .text {
        width: 747px;
        height: 297px;
        position: absolute;
        top: 187px;
        left: 50px;
        color: white;
        font-size: 48px;
        line-height: 1.2;
      }
      
      .section3 {
        flex-grow: 1;
        background-color: #125520;
      }
      
      .order-button {
        display: inline-block;
        margin-top: 50px;
        padding: 20px 40px;
        background-color: #ffc107;
        color: #000;
        text-decoration: none;
        font-size: 24px;
        border-radius: 5px;
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
      }